@import url('https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #686de0;
  font-family: 'Muli', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 4%;
}

.container {
  background-color: white;
  border-radius: 0.5em 0.5em;
  padding: 4em 2em;
  text-align: center;
  max-width: 100%;
  width: 50%;
}

h3 {
  margin: 0;
  opacity: 0.5;
  font-size: 1.75em;
  font-weight: normal;
}

.joke {
  font-size: 2.25em;
  line-height: 1.3em;
  margin: 1.5em auto;
  max-width: 95%;
}

.jokeBtn {
  background-color: #9f68e0;
  color: white;
  font-family: inherit;
  border: none;
  box-shadow: 0 0 2em rgba(0, 0, 0, 0.2);
  border-radius: 1em;
  padding: 1em 2em;
  font-size: 1.2em;
  font-weight: normal;
  cursor: pointer;
}

.jokeBtn:active {
  transform: scale(0.98);
}

.jokeBtn:focus {
  outline: none;
}
