@import url('https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #e1e1e1;
  font-family: 'Muli', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

#insert {
  width: 50%;
}

.key {
  border: 0.05em solid #999;
  border-radius: 0.25em;
  background-color: #eee;
  box-shadow: 1 1 1 rgba(0, 0, 0, 0.1);
  display: inline-flex;
  align-items: center;
  text-align: center;
  font-size: 1.5em;
  padding: 0.4em 1.5em;
  flex-direction: column;
  margin: 0.75em;
  min-width: 0.5em;
  position: relative;
}

.key small {
  position: absolute;
  top: -2em;
  left: 0;
  text-align: center;
  width: 100%;
  color: #555;
  font-size: medium;
}
