@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;700&display=swap');

:root {
  --primary-color: black;
  --secondary-color: white;
}

html {
  transition: all 0.5s ease-in;
}

html.dark {
  --primary-color: white;
  --secondary-color: #333;
}

html.dark {
  background-color: #111;
  color: var(--primary-color);
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Heebo', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.toggle-mode {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: 0;
  border-radius: 0.5rem;
  padding: 1rem 1rem;
  position: absolute;
  top: 5rem;
  cursor: pointer;
}

.toggle-mode:focus {
  outline: none;
}

.clock-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.clock {
  position: relative;
  width: 20rem;
  height: 20rem;
}

.needle {
  background-color: var(--primary-color);
  position: absolute;
  top: 50%;
  left: 50%;
  height: 7.5rem;
  width: 0.25rem;
  transform-origin: bottom center;
  transition: all 0.5s ease-in;
}

.needle.hour {
  transform: translate(-50%, -100%) rotate(0deg);
}

.needle.minute {
  transform: translate(-50%, -100%) rotate(0deg);
  height: 10rem;
}

.needle.second {
  transform: translate(-50%, -100%) rotate(0deg);
  height: 10rem;
  background-color: #e74c3c;
}

.center-point {
  background-color: #e74c3c;
  width: 0.75rem;
  height: 0.75rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.center-point::after {
  content: '';
  background-color: var(--primary-color);
  width: 0.4rem;
  height: 0.4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.time {
  font-size: 5rem;
}

.date {
  color: #aaa;
  font-size: 1.25rem;
  text-transform: uppercase;
}

.date .circle {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1.5rem;
  transition: all 0.5s ease-in;
}
